.js-irs-0 .irs-bar {
border-top-color: #d01010;
border-bottom-color: #d01010;
} 

.js-irs-0 .irs-bar-edge {
border-color: #d01010;
}

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
background: #d01010;
}

.js-irs-1 .irs-bar {
border-top-color: #003cb3;
border-bottom-color: #003cb3;
} 

.js-irs-1 .irs-bar-edge {
border-color: #003cb3;
}

.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {
background: #003cb3;
}

.js-irs-2 .irs-bar {
border-top-color: #009933;
border-bottom-color: #009933;
} 

.js-irs-2 .irs-bar-edge {
border-color: #009933;
}

.js-irs-2 .irs-single, .js-irs-2 .irs-bar-edge, .js-irs-2 .irs-bar {
background: #009933;
}